.sign-in {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__form {
        display: grid;
        grid-template-rows: [email-s] 64px [email-e password-s] 64px [password-e] minmax(20px, 289px) [border-s] 2px [border-e login-s] 38px [login-e];
        grid-template-columns: 1fr;
    }
}

.sign-in-form {
    & > * {
        grid-column: 1/-1;
    }

    &__email {
        grid-row: email-s/email-e;

    }
    &__password {
        margin-top: 15px;
        grid-row: password-s/password-e;
    }

    &__border {
        width: 426px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 39px;
    }
    
    &__details {
        grid-row: 1/-1;
        justify-self: start;
        align-self: start;
    }

}