@import './variables.scss';
@import './layout.scss';
@import './header.scss';
@import './navbar.scss';
@import './quantity.scss';
@import './green-price-tag.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import './details.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';
@import './account/account.scss';
@import './account/account-information.scss';
@import './account/purchase-history.scss';
@import './shop/shop.scss';
@import './shop/shop-search-bar.scss';
@import './shop/shop-product.scss';
@import './shop/shop-cart.scss';
@import './shop/cart-product.scss';
@import './order/review.scss';
@import './order/review-form.scss';
@import './order/review-product.scss';
@import './information/shipping.scss';
@import './information/payment.scss';
@import './information/info-help.scss';

body {
    font-family: "Open Sans";
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}