.review-form {
    &__products {
        overflow-Y: scroll;
    }
    &__buttons {
        width: 410px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}