.review-form {

    &__legend {
        font-size: 14px;
        border-bottom: 1px solid #CCC;
        padding-bottom: 11px;
        display: grid;
        grid-template-columns: 80px [name-s] 1fr [name-e quantity-s] 1fr [quantity-e price-s] 1fr [price-e];
        grid-template-rows: [s] 100% [e];

        & > * {
            grid-row: s/e;
            justify-self: center;
        }

        &__name {
            grid-column: name-s/name-e;
        }

        &__quantity {
            grid-column: quantity-s/quantity-e;

        }

        &__price {
            grid-column: price-s/price-e;
        }
    }
   
    &__products {
        height: 400px;
        overflow-Y: scroll;
        margin-bottom: 50px;
        display: grid;
        row-gap: 15px;
        border-bottom: 1px solid #CCC;

    }
    &__buttons {
        width: 410px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.review-form__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .review-details {
        margin-right: 100px;
        
        & > * {
            display: grid;
            grid-template-columns: [title-s] 1fr [title-e value-s] 1fr [value-e];
            grid-template-rows: 1fr;
            grid-gap: 60px;
        }

        &__title {
            grid-column: title-s/title-e;
            justify-self: end;
            align-self: center;
            font-size: 14px;
        }
        &__value {
            grid-column: value-s/value-e;
            font-size: 18px;
            font-weight:600;
            
        }
        &__total {
            font-weight: 600;
            color: #00CB79;
            margin-top: 18px;
        }
    }
}